{{#courier-partial}}{{#prerender "prerenderedContent"}}{{> @partial-block }}{{/prerender~}}{{#if (trim @prerenderedContent)}}<span style="background:{{@color}};padding:0 5px;border-radius:8px;color:white;display:inline-block;">{{> @partial-block }}</span>{{/if}}{{/courier-partial}}
