{{#prerender "prerenderedLinkText"}}{{> @partial-block }}{{/prerender}}{{#courier-partial}}<a class="c--link" href="{{get-href @href text=@prerenderedLinkText disableLinkTracking=@disableLinkTracking}}">{{{@prerenderedLinkText}}}</a>{{/courier-partial}}
