<div class="footerContent">
  <p>
    Sent from <a href="https://launchdarkly.com">LaunchDarkly</a> • <a href="https://blog.launchdarkly.com">LaunchDarkly
      Blog</a>
  </p>
  <div class="address">
    <p>350 Frank Ogawa Plaza #100</p>
    <p>Oakland, CA 94612</p>
    <a href="mailto:support@launchdarkly.com?Subject=Support%20Question">
      support@launchdarkly.com
    </a>
  </div>
</div>
