<p>
  If there's anything else we can help you with, email
  <a href="mailto:support@launchdarkly.com?Subject=Support%20Question">support@launchdarkly.com</a>.
</p>
<p>
  Cheers,
  <br />
  The team at LaunchDarkly
</p>
